#support{height:100%;position:relative;display:none;cursor:default;}

#support .sections{height:100%;position:relative;display:flex;flex-wrap:wrap;}
#support .sections .section{position:relative;}
#support .sections .section .wrapper{height:100%;padding:40px;overflow:hidden;overflow-y:auto;}
#support .sections .section .overlay{width:100%;height:100%;position:absolute;top:0;left:0;background-color:rgba(0,0,0,.1);}
#support .sections .section .overlay.hide{opacity:0;visibility:hidden;}
#support .sections .section .title{font-size:22px;line-height:24px;color:#333;}

/* status */

#support .status{width:100%;height:300px;overflow:hidden;overflow-y:auto;border-bottom:1px solid #ddd;}

/* help */

#support .help{width:50%;height:calc(100% - 300px);}
#support .help .title .add{margin-top:-8px;padding:0 20px;background:#238ba3;float:right;cursor:pointer;font-size:16px;line-height:40px;color:#fff;}
#support .help .i{margin-top:20px;padding:20px;background:#fff;border:1px solid #ddd;cursor:pointer;font-weight:bold;}
#support .help .i.active{background:#afa;}
#support .help .empty{margin-top:20px;padding:20px;background:#fff;border:1px solid #ddd;font-weight:bold;}

/* faq */

#support .faq{width:50%;height:calc(100% - 300px);border-left:1px solid #ddd;}
#support .faq .i{margin-top:20px;padding:20px;background:#fff;border:1px solid #ddd;cursor:pointer;}
#support .faq .i .q{font-weight:bold;}
#support .faq .i .a{margin-top:10px;display:none;}

/* modal */

#support .modal{width:100%;height:100%;position:absolute;top:0;left:0;display:none;}
#support .modal.show{display:flex;}
#support .modal .overlay{width:100%;height:100%;position:absolute;top:0;left:0;background-color:rgba(0,0,0,.5);}
#support .modal .popup{width:50%;margin:20px auto;padding-top:80px;position:relative;background:#f8f8f8;overflow:hidden;opacity:0;visibility:hidden;}
#support .modal.open .popup{opacity:1;visibility:visible;}
#support .modal .popup .header{padding:0 40px;position:absolute;top:0;left:0;right:0;background:#fff;border-bottom:1px solid #ddd;display:flex;justify-content:space-between;}
#support .modal .popup .header .title{font-size:22px;line-height:79px;}
#support .modal .popup .header .actions{margin-top:20px;}
#support .modal .popup .header .actions div{margin-left:20px;padding:0 20px;float:left;cursor:pointer;font-size:16px;line-height:40px;color:#fff;}
#support .modal .popup .header .actions div.create_ticket{background:#238ba3;}
#support .modal .popup .header .actions div.close{background:#f55;}
#support .modal .popup .wrapper{height:100%;padding:0 40px;position:relative;overflow:hidden;overflow-y:auto;}

#support .modal .popup .wrapper .i{margin:40px 0;}
#support .modal .popup .wrapper .i .info{font-weight:bold;}
#support .modal .popup .wrapper .i .desc{margin-top:10px;white-space:pre-wrap;}
#support .modal .popup .bottom{height:40px;padding:19px 20px 20px;position:absolute;bottom:0;left:0;right:0;background:#fff;border-top:1px solid #ddd;display:flex;}
#support .modal .popup .bottom input{width:100%;height:40px;margin:0 20px;padding:10px 20px;background:#fff;border:1px solid #ddd;display:block;font-size:16px;color:#333;}
#support .modal .popup .bottom input:focus{border-color:#999;}
#support .modal .popup .bottom .submit{margin:0 20px;padding:0 20px;background:#238ba3;cursor:pointer;font-size:16px;line-height:40px;color:#fff;}