#users{height:100%;padding:0 20px;position:relative;display:none;cursor:default;}

/* list */

#users .list{width:100%;height:100%;position:relative;overflow:hidden;}
#users .list .items{width:25%;height:100%;padding-top:80px;position:relative;float:left;}
#users .list .items .header{padding:20px;position:absolute;top:0;left:0;right:0;}
#users .list .items .header .create{padding:0 20px;background:#238ba3;float:right;cursor:pointer;font-size:16px;line-height:40px;color:#fff;}
#users .list .items .header .create.hide{display:none;}
#users .list .items .header .title{overflow:hidden;font-size:22px;line-height:40px;color:#333;text-overflow:ellipsis;white-space:nowrap;}
#users .list .items .scroll{height:100%;position:relative;}
#users .list .items .scroll .overview{width:auto;padding:0 20px 10px;}
#users .list .items .scroll .thumb{background:#777;opacity:.3;}
#users .list .items .scroll .thumb:hover{opacity:1;}

#users .list .items .i{height:40px;margin-top:10px;background:#fff;border:1px solid #ddd;cursor:pointer;line-height:40px;color:#333;}
#users .list .items .i:first-child{margin:0;}
#users .list .items .i:hover{background:#fdfdfd;}
#users .list .items .i.removed{background:#fbb;color:#fff;}
#users .list .items .i .title{padding:0 20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#users .list .items .i .remove{width:10px;height:10px;padding:15px;float:right;}
#users .list .items .i .remove svg{width:100%;height:100%;display:block;fill:#333;}
#users .list .items .i .remove:hover svg{fill:#f00;}
#users .list .items .i.ui-sortable-helper{transition:none;}
#users .list .items .i.logged{background:#dfd;}
#users .list .items .i.ne{cursor:default;}
#users .list .items .i.nd .remove{display:none;}

#users .list .items .g{height:40px;margin-top:10px;background:#fff;border:1px solid #ddd;cursor:pointer;line-height:40px;color:#333;}
#users .list .items .g:first-child{margin:0;}
#users .list .items .g:hover{background:#fdfdfd;}
#users .list .items .g.removed{background:#fbb;color:#fff;}
#users .list .items .g .title{padding:0 20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#users .list .items .g .remove{width:10px;height:10px;padding:15px;float:right;}
#users .list .items .g .remove svg{width:100%;height:100%;display:block;fill:#333;}
#users .list .items .g .remove:hover svg{fill:#f00;}
#users .list .items .g.ui-sortable-helper{transition:none;}
#users .list .items .g.n{cursor:default;}
#users .list .items .g.n .remove{display:none;}

#users .list .items .empty{height:40px;background:#eee;border:1px solid #ddd;line-height:40px;color:#333;text-align:center;}

/* overlay */

#users .overlay{width:100%;height:100%;position:absolute;top:0;left:0;background-color:rgba(0,0,0,.7);opacity:0;visibility:hidden;}
#users .overlay.show{opacity:1;visibility:visible;}

/* form */

#users .form{width:100%;max-width:1000px;height:100%;padding-top:80px;position:absolute;top:0;right:0;background:#f8f8f8;opacity:0;visibility:hidden;transform:translateX(50px);}
#users .form.show{opacity:1;visibility:visible;transform:translateX(0);}

#users .form .header{width:100%;height:79px;position:absolute;top:0;left:0;background:#fff;border-bottom:1px solid #ddd;}
#users .form .header .actions{height:40px;margin-top:20px;padding-right:20px;float:right;}
#users .form .header .actions div{margin-right:20px;padding:0 20px;background:#238ba3;float:left;cursor:pointer;line-height:40px;color:#fff;}
#users .form .header .actions div.close{background:#f55;}
#users .form .header .title{padding:0 40px;overflow:hidden;font-size:24px;line-height:79px;color:#222;text-overflow:ellipsis;white-space:nowrap;}

#users .form .wrapper{height:100%;padding:0 40px;overflow:auto;}